@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex flex-col items-center w-screen h-screen overscroll-none overflow-hidden bg-slate-300;
  }

  header {
    @apply w-full sm:w-3/4 md:w-1/2 lg:w-1/2 xl:w-1/2 mx-auto;
  }

}

@layer components {
  .container {
    @apply flex flex-col items-center justify-center h-screen overscroll-none w-full sm:w-3/4 md:w-1/2 lg:w-1/2 xl:w-1/2 mx-auto pb-12 bg-slate-100;
  }

  .profileContainer {
    @apply flex flex-col items-center justify-start h-screen overscroll-none w-full sm:w-3/4 md:w-1/2 lg:w-1/2 xl:w-1/2 mx-auto pb-12 bg-slate-100;
  }

  .formContainer {
    @apply flex flex-col w-full items-center justify-center px-4 mt-1;
  }

  .navbar {
    @apply flex flex-row p-3 justify-between items-center w-full bg-blue-500 text-white shadow-md;
  }

  .profileNavbar {
    @apply flex flex-row p-3 justify-between items-center w-full bg-slate-100 text-white;
  }

  .label {
    @apply w-full text-sm text-left text-black;
  }

  .input {
    @apply placeholder-gray-400 text-black bg-white border-gray-200 rounded-md shadow-sm mb-3 text-sm;
  }

  .button {
    @apply text-xs font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 drop-shadow-sm m-1 px-6 py-1;
  }

  .submitButton {
    @apply text-xs font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 drop-shadow-sm m-1 px-6 py-1;
  }

  .cancelButton {
    @apply text-xs font-bold text-white bg-slate-600 rounded-md hover:bg-slate-800 drop-shadow-sm m-1 px-6 py-1;
  }

  .deleteButton {
    @apply text-xs font-bold text-white bg-red-500 rounded-md hover:bg-red-700 drop-shadow-sm m-1 px-6 py-1;
  }

  .smallUpdateButton {
    @apply text-xs font-bold text-white bg-slate-600 rounded-md hover:bg-slate-800 drop-shadow-sm m-1 px-1 py-0.5;
  }

  .link {
    @apply text-xs text-white rounded-md bg-slate-600 hover:bg-slate-800 drop-shadow-sm m-1 px-1 py-0.5;
  }

  .file-input {
    @apply text-center p-1 border border-gray-300 rounded-md shadow-sm max-w-xs;
  }

  .headerImage {
    @apply w-20 h-20 rounded-full;
  }
}

@layer utilities {
  .emptyCard {
    @apply flex flex-col items-center
    overflow-y-auto overflow-x-hidden p-4 m-4;
  }

  .card {
    @apply
    m-10
    p-4
    flex
    flex-col
    items-center
    bg-slate-200
    border
    border-slate-300
    rounded-lg
    shadow-sm
    w-[300px]
  }

  .labelInputBox {
    @apply flex flex-col items-center justify-center;
  }

  .cancelUpdateBox {
    @apply mt-4 flex justify-center;
  }

  .file-input {
    @apply text-center p-2 border border-gray-300 rounded-md shadow-sm w-full max-w-xs;
  }

  .formHeader {
    @apply text-2xl font-bold text-center text-blue-600 p-2;
  }

  .formSubHeader {
    @apply text-lg font-bold text-center text-blue-600 p-2;
  }

  .deleteHeader {
    @apply text-2xl font-bold text-center text-red-600 p-2;
  }

  .errorBox{
    @apply h-3 p-3 w-full flex flex-col justify-center items-center;
  }

  .success {
    @apply my-1 text-sm font-bold text-center text-green-500 text-wrap;
  }

  .failure {
    @apply my-2 text-sm font-bold text-center text-red-500 text-wrap;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .hidden {
    display: none;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }
}
