@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex flex-col items-center w-screen h-screen overscroll-none overflow-hidden;
  }

  header {
    @apply flex flex-col w-full items-center;
  }

  form {
    @apply flex flex-col w-full items-center justify-center p-4;
  }

  nav {
    @apply flex flex-row w-full h-12 justify-center items-center bg-blue-500 text-white;
  }
}

@layer components {
  .container {
    @apply flex flex-col items-center justify-center h-screen overscroll-none;
  }

  .label {
    @apply w-full text-sm text-left text-black;
  }

  .input {
    @apply placeholder-gray-400 text-black bg-white border-gray-200 rounded-md shadow-sm mb-3 text-sm;
  }

  .button {
    @apply font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 drop-shadow-sm m-1 px-6 py-1;
  }

  .link {
    @apply text-xs text-white rounded-md bg-slate-600 hover:bg-slate-800 drop-shadow-sm m-1 px-1 py-0.5;
  }
}

@layer utilities {
  .card {
    @apply flex flex-col items-center  
    bg-gray-100 border 
    border-gray-300 
    rounded-lg 
    shadow-sm
    w-fit max-h-[80vh] overflow-y-auto overflow-x-hidden;
  }

  .file-input {
    @apply text-center p-2 border border-gray-300 rounded-md shadow-sm w-full max-w-xs;
  }

  .formHeader {
    @apply text-2xl font-bold text-center text-blue-600 p-4;
  }

  .success {
    @apply my-1 text-sm font-bold text-center text-green-500 text-wrap;
  }

  .failure {
    @apply my-1 text-sm font-bold text-center text-red-500 text-wrap;
  }

  .headerImage {
    @apply w-20 h-20 m-4;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
