<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="/js/fadeAnimations.js" defer></script>
    <script src="/js/toggleTruncate.js" defer></script>
    <script src="/js/sinceCreated.js" defer></script>
    <script src="/js/passIdToComment.js" defer></script>
    <script defer>
      document.addEventListener('DOMContentLoaded', function () {
        console.log('Page loaded. Checking for hash...');
        if (window.location.hash) {
          const hash = window.location.hash.substring(1); // Remove the '#' symbol
          console.log('Hash detected:', hash);

          const targetElement = document.getElementById(hash);
          console.log('Target element:', targetElement);

          if (targetElement) {
            targetElement.scrollIntoView({ behavior: 'smooth' });
            targetElement.classList.add('highlight');
          } else {
            console.warn('No element found for hash:', hash);
          }
        }
      });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const highlightElements = document.querySelectorAll('.highlight');

        highlightElements.forEach((element) => {
          element.addEventListener('transitionend', () => {
            element.classList.add('transition-end');
          });
        });
      });
    </script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a id="backButton" th:href="@{|index#collection-${collection.id}|}">
              <span>&#8592;</span>
            </a>
          </li>
          <li>
            <div th:if="${isOwner != null && isOwner}">
              <a
                class="bg-blue-500 hover:bg-blue-700 text-white text-xs px-1 py-0.5 rounded"
                id="redirectUpdateCollection"
                th:href="@{/update-collection/{id}(id=${collection.id})}"
              >
                <span class="text-lg">&#9776;</span>
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!-- COLLECTION CONTENT -->
    <main th:id="'collection-' + ${collection.id}">
      <div class="container">
        <div class="box">
          <nav>
            <div class="flex justify-between items-center w-full pr-2">
              <div>
                <ul>
                  <li class="pr-2">
                    <a th:href="@{/profile/{id}(id=${userProfile?.id})}">
                      <img
                        class="round-image"
                        th:src="${userProfile?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                        alt="Profile Picture"
                      />
                    </a>
                  </li>
                  <li>
                    <a th:href="@{/profile/{id}(id=${userProfile?.id})}">
                      <span
                        class="text-sm font-semibold"
                        th:if="${userProfile?.username != null}"
                        th:text="${userProfile?.username}"
                      ></span>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <li class="right-0" style="list-style-type: none">
                  <a>
                    <span
                      class="text-sm font-semibold"
                      th:if="${collection?.title != null}"
                      th:text="${collection?.title}"
                    ></span>
                  </a>
                </li>
              </div>
            </div>
          </nav>
          <!-- COLLECTION PICTURE -->
          <img
            class="square"
            id="previewImage"
            th:src="${collection != null && collection.imageUrl != null ? collection.imageUrl : '/images/collection_image.png'}"
            alt="Profile Picture"
          />
          <div class="caption-container">
            <div class="like-comment-container">
              <ul>
                <li>
                  <div class="element">
                    <form
                      th:if="${collection?.id != null}"
                      th:action="@{/collections/{collectionId}/like-comment-open(collectionId=${collection.id})}"
                      method="post"
                    >
                      <input
                        type="hidden"
                        name="collectionId"
                        th:value="${collection.id}"
                      />
                      <input
                        type="hidden"
                        name="userId"
                        th:value="${user.id}"
                      />
                      <input
                        type="hidden"
                        name="liked"
                        th:value="${collection.isLiked}"
                      />
                      <button
                        type="submit"
                        class="likeButton"
                        th:if="${collection.user.id != user.id}"
                      >
                        <span
                          class="pr-2 font-medium"
                          th:if="${collection.isLiked}"
                        >
                          &#9829;
                        </span>
                        <span
                          class="pr-2 font-medium"
                          th:if="${!collection.isLiked}"
                        >
                          &#9825;
                        </span>
                      </button>
                      <button
                        type="button"
                        class="likeButton"
                        th:if="${collection.user.id == user.id}"
                        disabled
                      >
                        <span class="pr-2 font-medium">&#9829;</span>
                      </button>
                    </form>
                  </div>
                  <div class="element">
                    <p class="font-thin" th:text="${collection.likeCount}"></p>
                  </div>
                </li>
                <li class="flex flex-row justify-start items-center pr-2">
                  <a
                    th:href="@{/collection/{id}(id=${collection.id})}"
                    th:class="'commentToggle' + collection.id"
                    th:value="${collection.id}"
                  >
                    <span class="pr-2 font-medium">comment</span>
                  </a>
                  <span
                    class="font-thin"
                    th:if="${collection.commentCount != null}"
                    th:text="${collection.commentCount}"
                  ></span>
                </li>
              </ul>
              <!-- COMMENT BOX EXIT -->
              <div>
                <a
                  th:href="@{/collection/{id}(id=${collection.id})}"
                  class="flex-row justify-end items-center pr-2"
                >
                  <span class="font-semibold">X</span>
                </a>
              </div>
            </div>
            <div class="caption">
              <!-- CAPTION -->
              <p
                id="toggle_truncate"
                class="truncate-multiline leading-[1rem]"
                onclick="toggleTruncate(this)"
              >
                <a th:href="@{/profile/{id}(id=${userProfile?.id})}">
                  <span
                    class="font-semibold"
                    th:if="${userProfile?.username != null}"
                    th:text="${userProfile?.username}"
                  ></span>
                </a>
                <span
                  th:if="${collection?.caption != null}"
                  th:text="${collection?.caption}"
                ></span>
              </p>
            </div>
            <div class="small-date">
              <!-- MONTH YEAR -->
                <span
                  style="font-size: 9px"
                  class="font-extralight"
                  th:if="${collection?.updatedAt != null}"
                  th:text="${#dates.format(collection?.updatedAt, 'MMMM-YYYY')}"
                ></span>
              </div>
            </div>
          </div>
        </div>
        <!-- COMMENT BOX -->
        <div
          id="commentBox"
          class="flex-grow pb-6 h-auto w-full overflow-y-auto"
          th:value="${collection.id}"
        >
          <!-- Comment Template -->
          <div
            th:id="'comment-' + ${comment.id}"
            class="pt-3 px-3"
            th:each="comment : ${collection.comments}"
          >
            <div
              class="w-full h-auto flex flex-row justify-start items-start text-sm"
            >
              <!-- Profile Picture -->
              <div id="imageBoxComment" class="flex-shrink-0 w-10">
                <a th:href="@{/profile/{id}(id=${comment.user.id})}">
                  <img
                    class="h-7 w-7 rounded-full bg-white"
                    th:src="${comment.user?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                    alt="Profile Picture"
                  />
                </a>
              </div>
              <!-- Content Box -->
              <div
                id="contentBoxComment"
                class="flex flex-col items-start w-full"
              >
                <div class="flex flex-row justify-start items-start w-full">
                  <!-- Profile Link -->
                  <div class="flex items-start">
                    <a
                      th:href="@{/profile/{id}(id=${comment.user.id})}"
                      class="flex items-start"
                    >
                      <span
                        style="font-size: 10px; line-height: 1"
                        class="font-semibold leading-[1]"
                        th:if="${comment.user?.username != null}"
                        th:text="${comment.user?.username}"
                      ></span>
                    </a>
                  </div>
                  <!-- Time Container -->
                  <div class="pl-2 flex items-end">
                    <span
                      style="font-size: 8px; line-height: 1"
                      class="font-thin leading-[1]"
                    >
                      6h
                    </span>
                  </div>
                </div>
                <div class="flex flex-row justify-start items-start">
                  <span
                    class="font-light truncate-multiline"
                    onclick="toggleTruncate(this)"
                    th:text="${comment.content}"
                  ></span>
                </div>
                <div
                  style="font-size: 8px; line-height: 1"
                  class="commentReplyBox w-full flex flex-col justify-center items-start pt-1 pr-2 text-slate-500 font-semibold"
                >
                  <button
                    class="commentReplyButton"
                    th:attr="data-comment-id=${comment.id}"
                    onclick="triggerCommentId(this)"
                  >
                    <span class="leading-[1.2]">Reply</span>
                  </button>
                </div>

                <!-- REPLY BOX -->

                <div
                  id="replyBox"
                  class="flex-grow w-full overflow-y-auto"
                  th:value="${collection.id}"
                >
                  <!-- Reply Template -->
                  <div
                    th:id="'reply-' + ${reply.id}"
                    class="pt-3 px-3"
                    th:each="reply : ${comment.replies}"
                  >
                    <div
                      class="w-full h-auto flex flex-row justify-start items-start text-sm"
                    >
                      <!-- Profile Picture -->
                      <div id="imageBoxComment" class="flex-shrink-0 w-10">
                        <a th:href="@{/profile/{id}(id=${reply.user.id})}">
                          <img
                            class="h-7 w-7 rounded-full bg-white"
                            th:src="${reply.user?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                            alt="Profile Picture"
                          />
                        </a>
                      </div>
                      <!-- Content Box -->
                      <div
                        id="contentBoxComment"
                        class="flex flex-col items-start w-full"
                      >
                        <div
                          class="flex flex-row justify-start items-start w-full"
                        >
                          <!-- Profile Link -->
                          <div class="flex items-start">
                            <a
                              th:href="@{/profile/{id}(id=${reply.user.id})}"
                              class="flex items-start"
                            >
                              <span
                                style="font-size: 10px; line-height: 1"
                                class="font-semibold leading-[1]"
                                th:if="${reply.user.username != null}"
                                th:text="${reply.user.username}"
                              ></span>
                            </a>
                          </div>
                          <!-- Time Container -->
                          <div class="pl-2 flex items-end">
                            <span
                              style="font-size: 8px; line-height: 1"
                              class="font-thin leading-[1]"
                            >
                              6h
                            </span>
                          </div>
                        </div>
                        <div class="flex flex-row justify-start items-start">
                          <span
                            class="font-light truncate-multiline"
                            onclick="toggleTruncate(this)"
                            th:text="${reply.content}"
                          ></span>
                        </div>
                        <div
                          style="font-size: 8px; line-height: 1"
                          class="replyReplyBox w-full flex flex-col justify-center items-start pt-1 pr-2 text-slate-500 font-semibold"
                        >
                          <button
                            class="commentReplyReplyButton"
                            th:attr="data-comment-id=${comment.id}, data-reply-username=${reply.user.username}"
                            onclick="triggerReplyId(this)"
                          >
                            <span class="leading-[1.2]">Reply</span>
                          </button>
                        </div>
                      </div>
                      <!-- Like Box -->
                      <div
                        th:if="${reply.id != null}"
                        th:id="'likeBox-' + ${reply.id}"
                        class="flex flex-col justify-start items-center"
                      >
                        <div class="flex flex-row justify-center items-center">
                          <form
                            th:if="${reply.id != null}"
                            th:action="@{/replies/{id}/like(id=${reply.id})}"
                            method="post"
                          >
                            <input
                              type="hidden"
                              name="replyId"
                              th:if="${reply.id != null}"
                              th:value="${reply.id}"
                            />
                            <input
                              type="hidden"
                              name="userId"
                              th:value="${user.id}"
                            />
                            <input
                              type="hidden"
                              name="liked"
                              th:value="${reply.isLiked}"
                            />
                            <button
                              type="submit"
                              class="likeButton"
                              th:if="${reply.user != null && reply.user.id != user.id}"
                            >
                              <span
                                style="font-size: 10px; line-height: 1"
                                class="font-medium text-xs"
                                th:if="${reply.isLiked}"
                              >
                                &#9829;
                              </span>
                              <span
                                style="font-size: 10px; line-height: 1"
                                class="font-medium text-xs"
                                th:if="${!reply.isLiked}"
                              >
                                &#9825;
                              </span>
                            </button>
                            <button
                              th:id="'like-button-' + ${reply.id}"
                              type="button"
                              class="likeButton"
                              th:if="${reply.user != null && reply.user.id == user.id}"
                              disabled
                            >
                              <span
                                style="font-size: 10px; line-height: 1"
                                class="font-medium text-xs"
                              >
                                &#9829;
                              </span>
                            </button>
                          </form>
                        </div>
                        <div class="flex flex-row justify-center items-center">
                          <p
                            th:if="${reply.id != null}"
                            th:id="'likeCount-' + ${reply.id}"
                            style="font-size: 10px; line-height: 1"
                            class="font-thin text-xs"
                            th:text="${reply.likeCount != null ? reply.likeCount : '0'}"
                          ></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- COMMENT LIKE BOX -->
              <div
                th:if="${comment.id != null}"
                th:id="'likeBox-' + ${comment.id}"
                class="flex flex-col justify-start items-center"
              >
                <div class="flex flex-row justify-center items-center">
                  <form
                    th:if="${comment.id != null}"
                    th:action="@{/comments/{id}/like(id=${comment.id})}"
                    method="post"
                  >
                    <input
                      type="hidden"
                      name="commentId"
                      th:if="${comment.id != null}"
                      th:value="${comment.id}"
                    />
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <input
                      type="hidden"
                      name="liked"
                      th:value="${comment.isLiked}"
                    />
                    <button
                      type="submit"
                      class="likeButton"
                      th:if="${comment.user != null && comment.user.id != user.id}"
                    >
                      <span
                        style="font-size: 10px; line-height: 1"
                        class="font-medium text-xs"
                        th:if="${comment.isLiked}"
                      >
                        &#9829;
                      </span>
                      <span
                        style="font-size: 10px; line-height: 1"
                        class="font-medium text-xs"
                        th:if="${!comment.isLiked}"
                      >
                        &#9825;
                      </span>
                    </button>
                    <button
                      th:id="'like-button-' + ${comment.id}"
                      type="button"
                      class="likeButton"
                      th:if="${comment.user != null && comment.user.id == user.id}"
                      disabled
                    >
                      <span
                        style="font-size: 10px; line-height: 1"
                        class="font-medium text-xs"
                      >
                        &#9829;
                      </span>
                    </button>
                  </form>
                </div>
                <div class="flex flex-row justify-center items-center">
                  <p
                    th:if="${comment.id != null}"
                    th:id="'likeCount-' + ${comment.id}"
                    style="font-size: 10px; line-height: 1"
                    class="font-thin text-xs"
                    th:text="${comment.likeCount != null ? comment.likeCount : '0'}"
                  ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <nav id="commentActivity">
        <div id="commentInputContainer" class="w-full">
          <form
            th:action="@{/collections/{collectionId}/comments (collectionId=${collection.id})}"
            method="post"
            class="flex flex-row w-full items-center justify-center px-2"
          >
            <a href="/profile" class="w-10">
              <img
                class="round-image"
                th:src="${user?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                alt="Profile Picture"
              />
            </a>
            <input
              type="hidden"
              name="collectionId"
              th:value="${collection.id}"
            />
            <input
              id="commentContentInput"
              type="text"
              name="content"
              placeholder="Leave a comment..."
              class="h-8 mx-2 px-2"
            />
            <button
              id="commentButton"
              type="submit"
              class="text-sm bg-blue-500 text-white font-semibold text-center h-full w-7 ml-2"
            >
              <span>C</span>
            </button>
          </form>
        </div>
      </nav>

      <nav id="commentReplyActivity" class="hidden">
        <div id="commentInputContainer">
          <form
            id="commentReplyForm"
            method="POST"
            th:action="@{/collections/{collectionId}/replies (collectionId=${collection.id})}"
            class="flex flex-row w-full items-center justify-center"
          >
            <a href="/profile" class="">
              <img
                class="round-image"
                th:src="${user?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                alt="Profile Picture"
              />
            </a>
            <input
              id="replyCommentIdInput"
              type="hidden"
              name="commentId"
              value=""
            />

            <input
              id="replyContentInput"
              type="text"
              name="content"
              placeholder="Leave a reply..."
              value=""
            />

            <input type="hidden" name="_csrf" th:value="${_csrf?.token}" />

            <input type="hidden" name="currentUser" th:value="${user.id}" />

            <button
              id="commentReplyButton"
              type="submit"
              class=" icon text-sm bg-red-500 text-white"
            >
              <span>R</span>
            </button>
          </form>
        </div>
      </nav>
    </footer>
  </body>
</html>
