<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Create Collection</title>
    <link rel="stylesheet" href="/css/output.css" />
    
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script th:src="@{/js/previewFile.js}" defer></script>
    <script th:src="@{/js/fadeAnimations.js}" defer></script>
  </head>
  <body>
      
    <!-- ERROR AND SUCCESS HANDLING -->
<div class="errorSuccessHandlingBox hidden">
  <div
    id="successMessageDiv"
    class="success"
    th:if="${message}"
    th:text="${message}">
  </div>
  <div
    id="errorMessageDiv"
    class="failure"
    th:if="${error}"
    th:text="${error}">
  </div>
</div>

    <header>
      <nav>
        <ul>
          <li>
            <a id="backButton" href="/index">
              <span>&#8592;</span>
            </a>
          </li>
          <li>
            <a href="/profile">
              <img
                class="round-image"
                th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}"
                alt="Profile Picture"
              />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="bottom-0 overflow-y-auto pb-12">


      <div class="container">
        <nav>
          <span class="w-full text-center text-sm font-semibold text-slate-600">
            Create Collection
          </span>
        </nav>


        <form
          id="createCollectionForm"
          class="flex flex-col w-full items-center justify-center"
          action="/create_collection"
          method="post"
          enctype="multipart/form-data"
        >

          <div class="square">
            <img
              class="aspect-square w-full"
              id="previewImage"
              th:src="${'/images/collection_image.png'}"
              alt="Default Collection Image"
            />
          </div>

          <div class="w-full flex flex-col justify-center items-center px-4 mt-4">
            <div>
              <a href="#" id="triggerUpload" class="mt-2">
                <span class="text-sm font-semibold text-blue-500">
                  Update Collection Cover
                </span>
              </a>
            </div>

            <input type="hidden" name="_csrf" th:value="${_csrf?.token}" />
            <!-- File Upload Field -->

            <input
              type="file"
              id="hiddenFileInput"
              name="collectionImage"
              style="display: none"
              accept="image/*"
            />

            <!-- Title Field -->
            <div class="flex flex-col w-full h-auto justify-center items-between">
              <div class="labelInputBox w-full">
                <label class="label" for="title">Title:</label>
                <input
                  class="input w-full"
                  type="text"
                  id="collectionTitle"
                  name="title"
                  placeholder="Title"
                />
              </div>
            </div>

            <!-- Caption Field -->
            <div class="flex flex-col w-full h-auto justify-center items-between">
              <div class="labelInputBox w-full">
                <label class="label" for="caption">Caption:</label>
                <input
                  class="input w-full"
                  type="text"
                  id="caption"
                  name="caption"
                  placeholder="Caption"
                />
              </div>
            </div>

            <!-- Submit Button -->
            <div class="flex flex-row justify-center items-center mt-4">
              <button class="button bg-blue-600 hover:bg-blue-800" type="submit">
                Create Collection
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
