
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="/js/fadeAnimations.js" defer></script>
  </head>
  <body>
    <div class="overflow-auto w-full bg-slate-200">
      <h1>Followed By</h1>
        <div th:each="user : ${followersList}">
          <p th:text="${user.username}"></p>
        </div>
    </div>
  </body>
</html>


