<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Following</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a id="backButton" th:href="@{/profile/{id}(id=${userProfile.id})}">
              <span>&#8592;</span>
            </a>
          </li>
          <li>
            <h2>Following</h2>
          </li>
          <li></li>
        </ul>
      </nav>
    </header>

    <main class="overflow-auto">
      <div class="container p-2">
        <nav th:if="${#lists.isEmpty(followingList)}" class="box">
          <span class="text-sm font-semibold">Not Following Users</span>
        </nav>

        <nav
          th:each="follow : ${followingList}"
          class="rounded-md w-full mb-1 p-2 bg-slate-200 text-gray-900">
          <ul>
            <li class="pr-2">
              <a
                th:if="${follow.id != null}"
                th:href="@{/profile/{id}(id=${follow.id})}"
              >
                <img
                  class="round-image"
                  th:src="${ follow.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                  alt="Profile Picture"
                />
              </a>
            </li>
            <li class="ml-2">
              <a th:href="@{/profile/{id}(id=${follow.id})}">
                <span
                  class="text-sm font-semibold"
                  th:text="${follow.username}"
                ></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
    <footer>
      <nav>
        <ul>
          <li>
            <div id="homeButton" class="icon">
              <a class="icon-style" href="/index">&#8962;</a>
            </div>
          </li>
          <li>
            <div class="icon">
              <a class="icon-style" href="/popular">&#10066;</a>
            </div>
          </li>
          <li>
            <div class="icon">
              <a class="icon-style" href="/create-collection">&#43;</a>
            </div>
          </li>
          <li>
            <a href="/profile">
              <img
                class="round-image"
                th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}"
                alt="Profile Picture"
              />
            </a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
