<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="flex justify-between items-center w-full">
          <li>
            <img class="h-5" href="/index" src="/images/Shelved_Logo_White.png" alt="Shelved Logo" />
          </li>
          <li>
              <a href="/profile">
                <img class="h-7 w-7 rounded-full bg-white" th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}" alt="Profile Picture" />
              </a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="card">
        <div class="headerBox">
          <h4 class="formHeader">This will be the collection feed...</h4>
          <div class="flex justify-center items-center">
            <a href="/create-collection" class="deleteButton bg-slate-400 hover:bg-slate-400">Create A Collection</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
