<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="flex justify-between items-center w-full">
          <li>
            <img class="h-5 " href="/index" src="/images/Shelved_Logo_White.png" alt="Shelved Logo" />
          </li>
          <li>
            <a  href="/profile" >
              <img class="h-7 w-7 rounded-full" th:src="${user != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}" alt="Profile Picture" /></a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="card">
        <div class="headerBox">
          <h1 class="formHeader">Congratulations!</h1>
        </div>
        <form name="logoutForm" th:action="@{/logout}" method="post">
          <p class="m-2 text-wrap ">There is only one thing left to do...</p>
          <button class="button">Sign Out</button>
        </form>
      </div>
    </div>
  </body>
</html>
