<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script src="/js/visitedPages.js" defer></script>
    <script src="/js/toggleTruncate.js" defer></script>
    <script src="/js/toggleItemsIndex.js" defer></script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul class="flex justify-between items-center w-full">
          <li>
            <div id="logoHomeButton">
              <a href="/index">
                <img
                  class="h-5"
                  src="/images/Shelved_Logo_White.png"
                  alt="Shelved Logo"
                />
              </a>
            </div>
          </li>
          <li>
            <a href="/profile">
              <img
                class="h-7 w-7 rounded-full bg-white"
                th:src="${#strings.defaultString(user?.profilePictureUrl, '/images/default-profile-photo.png')}"
                alt="Profile Picture"
              />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="overflow-auto w-full bg-slate-200">
      <div th:if="${collections.size == 0}">
        <div
          class="flex justify-center items-center w-full h-12 bg-slate-100 shadow-sm"
        >
          <span class="text-sm font-semibold">No collections yet</span>
        </div>
      </div>

      <div th:if="${collections != null}">
        <div class="flex flex-col items-center justify-center w-full bg-white">
          <!-- COLLECTION CONTAINER -->
          <div
          th:each="collection : ${collections}"
          th:id="'collection-' + ${collection.id}"
          class="collectionContainer"
          >
            <!-- COLLECTION NAVBAR -->
            <div class="collectionContainerNavbar collectionNavbar shadow-sm">
              <div class="flex justify-between items-center w-full">
                <div>
                  <ul class="flex justify-start items-center w-full">
                    <li class="pr-2">
                      <a
                        th:if="${collection?.user?.id != null}"
                        th:href="@{/profile/{id}(id=${collection.user.id})}"
                      >
                        <img
                          class="h-7 w-7 rounded-full bg-white"
                          th:src="${users != null && collection?.user?.id != null && users[collection.user.id]?.profilePictureUrl != null ? users[collection.user.id].profilePictureUrl : '/images/default-profile-photo.png'}"
                          th:alt="${users != null && collection?.user?.id != null ? users[collection.user.id]?.username : 'Default Username'}"
                        />
                      </a>
                    </li>
                    <li>
                      <a th:href="@{/profile/{id}(id=${collection.user.id})}">
                        <span
                          class="text-sm font-semibold"
                          th:if="${collection.user.id != null && users[collection.user.id]?.username != null}"
                          th:text="${users[collection.user.id]?.username}"
                        ></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h2
                    class="text-sm font-semibold"
                    th:text="${collection.title}"
                  ></h2>
                </div>
              </div>
            </div>

            <div class="image-container relative bg-white">
              <!-- COLLECTION IMAGE -->
              <a
                class="collectionImage"
                th:href="@{/collection/{id}(id=${collection.id})}"
              >
                <img
                  th:src="${#strings.defaultString(collection?.imageUrl, '/images/default-collection-image.png')}"
                  alt="Collection Cover"
                  class="w-full object-cover aspect-square"
                />
              </a>

              <!-- Overlay -->
              <div
                class="collectionOverlay overlay absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 text-white text-sm p-2 overflow-y-scroll hidden"
              >
                <div class="itemGrid">
                  <div
                    th:if="${partitionedItemsByCollection != null && collection?.id != null}"
                    th:each="row : ${partitionedItemsByCollection[collection.id]}"
                    class="grid grid-cols-3"
                  >
                    <div
                      th:each="item : ${row}"
                      class="flex flex-col items-center"
                    >
                      <a th:href="@{/item/{id}(id=${item.id})}">
                        <img
                          th:src="${#strings.defaultString(item?.imageUrl, '/images/item_image.png')}"
                          alt="Item Image"
                          class="aspect-square w-full h-auto object-cover"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Toggle Buttons -->
              <button
                class="toggleButtonShowItems toggle-overlay absolute bottom-2 right-2 bg-white text-black text-xs px-2 py-1 rounded z-20"
              >
                Show Items
              </button>
              <button
                class="toggleButtonHideItems toggle-overlay absolute bottom-2 right-2 bg-white text-black text-xs px-2 py-1 rounded z-20 hidden"
              >
                Hide Items
              </button>
            </div>

            <!-- COLLECTION CAPTION -->
            <div
              class="collectionCaption w-full px-2 shadow-sm border-2 border-slate-100"
            >
              <div class="flex flex-row justify-between items-center">
                <div class="flex flex-row w-full h-auto py-1 text-sm">
                  <ul class="flex flex-row justify-start items-center pr-2">
                    <li class="flex flex-row justify-start items-center pr-2">
                      <div class="flex justify-start items-center">
                        <form
                          th:action="@{/collections/{collectionId}/like-from-index (collectionId=${collection?.id})}"
                          method="post"
                        >
                          <input
                            type="hidden"
                            name="collectionId"
                            th:value="${collection?.id}"
                          />
                          <input
                            type="hidden"
                            name="userId"
                            th:value="${user?.id}"
                          />
                          <input
                            type="hidden"
                            name="liked"
                            th:value="${collection?.isLiked ?: false}"
                          />

                          <button
                            type="submit"
                            class="likeButton"
                            th:if="${collection?.user?.id != user?.id}"
                          >
                            <span
                              class="pr-2 font-medium"
                              th:if="${collection?.isLiked ?: false}"
                            >
                              &#9829;
                            </span>
                            <span
                              class="pr-2 font-medium"
                              th:if="${collection?.isLiked == null || !collection.isLiked}"
                            >
                              &#9825;
                            </span>
                          </button>
                          <button
                            type="button"
                            class="likeButton"
                            th:if="${collection?.user?.id == user?.id}"
                            disabled
                          >
                            <span
                              class="pr-2 font-medium"
                              th:text="${collection?.likeCount ?: 0}"
                            >
                              &#9829;
                            </span>
                          </button>
                        </form>
                      </div>
                      <!-- LIKE COUNT -->
                      <div class="flex justify-start items-center">
                        <p
                          class="font-thin"
                          th:text="${collection.likeCount ?: 0}"
                        ></p>
                      </div>
                    </li>

                    <li class="flex flex-row justify-start items-center pr-2">
                      <a
                        th:href="@{/collection/{id}/comments(id=${collection.id})}"
                        class="collectionCommentButton pr-2 font-medium"
                      >
                        comment
                      </a>
                      <span
                        class="font-thin"
                        th:text="${collection.commentCount ?: 0}"
                      ></span>
                    </li>
                  </ul>
                </div>
              </div>

              <div>
                <div
                  class="w-full h-auto flex justify-start items-center text-sm"
                >
                  <!-- CAPTION -->
                  <p
                    id="toggle_truncate"
                    class="truncate-multiline leading-[1rem]"
                    onclick="toggleTruncate(this)"
                  >
                    <a th:href="@{/profile/{id}(id=${collection.user.id})}">
                      <span
                        class="font-semibold"
                        th:if="${users[collection.user.id]?.username != null}"
                        th:text="${users[collection.user.id]?.username}"
                      ></span>
                    </a>
                    <span
                      th:if="${collection?.caption != null}"
                      th:text="${collection?.caption}"
                    ></span>
                  </p>
                </div>

                <div class="w-full flex justify-between items-center py-1">
                  <!-- MONTH YEAR -->
                  <div
                    class="w-full flex flex-col justify-center items-start pt-1"
                  >
                    <span
                      style="font-size: 9px"
                      class="font-extralight"
                      th:if="${collection?.updatedAt != null}"
                      th:text="${#dates.format(collection?.updatedAt, 'MMMM-YYYY')}"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END OF COLLECTION CONTAINER -->
        </div>
      </div>
    </main>
    <footer>
      <div
        class="h-12 w-full sm:w-3/4 md:w-1/2 lg:w-1/2 xl:w-1/2 mx-auto flex items-center"
      >
        <div id="footerNavContent" class="footerNav">
          <ul class="flex justify-between items-center w-full">
            <li>
              <div
                id="homeButton"
                class="h-4 w-4 flex items-center justify-center"
              >
                <a class="text-2xl font-bold" href="/index">&#8962;</a>
              </div>
            </li>
            <li>
              <div class="h-4 w-4 flex items-center justify-center">
                <a class="text-2xl font-bold" href="/popular">&#10066;</a>
              </div>
            </li>
            <li>
              <div class="h-4 w-4 flex items-center justify-center">
                <a class="text-2xl font-bold" href="/create-collection">
                  &#43;
                </a>
              </div>
            </li>
            <li>
              <a href="/profile">
                <img
                  class="h-7 w-7 rounded-full bg-white"
                  th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}"
                  alt="Profile Picture"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
