<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="/js/fadeAnimations.js" defer></script>
    <script src="/js/toggleTruncate.js" defer></script>
    <script src="/js/toggleOverlay.js" defer></script>
    <script src="/js/windowOpen.js" defer></script>
    <script src="/js/toggleReply.js" defer></script>
    <script src="/js/passIdToComment.js" defer></script>
    <script defer>
      document.addEventListener('DOMContentLoaded', function () {
          console.log('Page loaded. Checking for hash...');
          if (window.location.hash) {
              const hash = window.location.hash.substring(1); // Remove the '#' symbol
              console.log('Hash detected:', hash);

              const targetElement = document.getElementById(hash);
              console.log('Target element:', targetElement);

              if (targetElement) {
                  targetElement.scrollIntoView({ behavior: 'smooth' });
                  targetElement.classList.add('highlight');
              } else {
                  console.warn('No element found for hash:', hash);
              }
          }
      });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const highlightElements = document.querySelectorAll('.highlight');

        highlightElements.forEach(element => {
          element.addEventListener('transitionend', () => {
            element.classList.add('transition-end');
          });
        });
      });
    </script>
  </head>

  <body class="flex flex-col h-screen w-full bg-orange-700">
    <header>
      <nav class="navbar">
        <ul class="flex justify-between w-full">
          <li class="flex items-center">
            <a id="backButton" href="/collection/${item.collectionId}">
              <span>&#8592;</span>
            </a>
          </li>
          <li>
          <div th:if="${isOwner != null && isOwner}">
            <a
              class="bg-blue-500 hover:bg-blue-700 text-white text-xs px-1 py-0.5 rounded"
              id="redirectUpdateItemDetails"
              th:href="@{/update-item/{itemId}(itemId=${item?.id})}"
            >
              <span class="text-lg">&#9776;</span>
            </a>
          </div>
          </li>
        </ul>
      </nav>
    </header>

    <main th:id="'item-' + ${item.id}">
      <!-- ITEM NAV -->
      <div class="h-auto w-full bg-slate-100">
        <div class="collectionNavbar shadow-sm">
          <div class="flex justify-between items-center w-full">
            <ul class="flex justify-start items-center w-full">
              <li class="pr-2">
                <a
                  th:href="@{/collection/{collectionId}(collectionId=${collection?.id})}"
                >
                  <img
                    class="h-7 w-7 rounded-full bg-white"
                    th:src="${collection?.imageUrl ?: '/item_image.png'}"
                    alt="Profile Picture"
                  />
                </a>
              </li>
              <li>
                <a
                  th:href="@{/collection/{collectionId}(collectionId=${collection?.id})}"
                >
                  <span
                    class="text-sm font-semibold"
                    th:if="${collection?.title!= null}"
                    th:text="${collection?.title}"
                  ></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ITEM CONTENT -->
        <div class="flex flex-col justify-center items-center border-size-0">
          <div class="image-container relative bg-white">
            <!-- ITEM PICTURE -->
            <a>
              <img
                class="aspect-square w-full bg-white"
                id="previewImage"
                th:src="${item != null && item.imageUrl != null ? item.imageUrl : '/images/item_image.png'}"
                alt="Item Image"
              />
            </a>

            <!-- Overlay -->
            <div
              id="itemOverlay"
              class="overlay absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 text-white text-sm p-2 hidden"
            >
              <div class="flex flex-col justify-start items-between">
                <div>
                  <span class="font-semibold" th:text="${item?.title}"></span>
                </div>
                <div>
                  <span
                    class="text-xs font-thin"
                    th:text="${item?.description}"
                  ></span>
                </div>
              </div>
              <div>
                <button
                  class="absolute bottom-2 left-2 bg-blue-500 hover:bg-blue-700 text-xs px-2 py-1 rounded"
                  id="openLinkButton"
                  th:href="${item?.itemLink}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Item Link
                </button>
              </div>
            </div>

            <!-- Toggle Button -->
            <button
              id="toggleButtonShowInfo"
              class="toggle-overlay absolute bottom-2 right-2 bg-white text-black text-xs px-2 py-1 rounded z-20"
            >
              Show Info
            </button>
            <button
              id="toggleButtonHideInfo"
              class="toggle-overlay absolute bottom-2 right-2 bg-white text-black text-xs px-2 py-1 rounded z-20 hidden"
            >
              Hide Info
            </button>
          </div>

          <div class="w-full px-2 bg-white">
            <div class="flex flex-row justify-between w-full h-auto py-1 text-sm">
              <ul class="flex flex-row justify-start items-center pr-2">
                <li class="flex flex-row justify-start items-center pr-2">
                  <div class="flex justify-start items-center">
                    <form th:if="${item?.id != null}" th:action="@{/items/{id}/like(id=${item?.id})}" method="post">
                      <input type="hidden" name="itemId" th:value="${item.id}" />
                      <input type="hidden" name="userId" th:value="${user.id}" />
                      <input type="hidden" name="liked" th:value="${item.isLiked}" />
                      <button type="submit" class="likeButton" th:if="${item.userId != user.id}">
                        <span class="pr-2 font-medium" th:if="${item.isLiked}">&#9829;</span>
                        <span class="pr-2 font-medium" th:if="${!item.isLiked}">&#9825;</span>
                      </button>
                      <button type="button" class="likeButton" th:if="${item.userId == user.id}" disabled>
                        <span class="pr-2 font-medium">&#9829;</span>
                      </button>
                    </form>
                  </div>

                  <div class="flex justify-start items-center">
                    <p class="font-thin" th:text="${item.likeCount}"></p>
                  </div>
                </li>

                <li class="flex flex-row justify-start items-center pr-2">
                  <a th:href="@{/item/{id}(id=${item.id})}" th:class="${'commentToggle' + item.id}">
                    <span class="pr-2 font-medium">comment</span>
                  </a>
                  <span class="font-thin" th:text="${item.commentCount}"></span>
                </li>
              </ul>


              <!-- COMMENT BOX EXIT -->
              <div>
                <a
                  th:href="@{/item/{itemId}(itemId=${item.id})}"
                  id="commentBoxExit"
                  class="collectionCommentBoxExit flex-row justify-end items-center pr-2">
                  <span class="font-semibold">X</span>
                </a>
              </div>
            </div>

            <div class="w-full h-auto flex justify-start items-center text-sm">
              <!-- CAPTION -->
              <p
                id="toggle_truncate"
                class="truncate-multiline leading-[1rem]"
                onclick="toggleTruncate(this)"
              >


                  <span
                    class="font-semibold"
                    th:if="${userProfile?.username != null}"
                    th:text="${userProfile?.username}"
                  ></span>
                </a>
                <span
                  th:if="${item?.caption != null}"
                  th:text="${item?.caption}"
                ></span>
              </p>
            </div>

            <div class="w-full flex justify-between items-center py-1">
              <!-- MONTH YEAR -->
              <div class="w-full flex flex-col justify-center items-start pt-1">
                <span
                  style="font-size: 9px"
                  class="font-extralight"
                  th:if="${item?.updatedAt != null}"
                  th:text="${#dates.format(item?.updatedAt, 'MMMM-YYYY')}"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <!-- COMMENT BOX -->
        <div
          id="commentBox"
          class="flex-grow pb-6 h-60 w-full bg-slate-100 overflow-y-auto"
          th:value="${item.id}"
        >
          <!-- Comment Template -->
          <div
            th:id="'comment-' + ${comment.id}"
            class="pt-3 px-3"
            th:each="comment : ${item.comments}"
          >
            <div
              class="w-full h-auto flex flex-row justify-start items-start text-sm"
            >
              <!-- Profile Picture -->
              <div id="imageBoxComment" class="flex-shrink-0 w-10">
                <a th:href="@{/profile/{id}(id=${comment.user.id})}">
                  <img
                    class="h-7 w-7 rounded-full bg-white"
                    th:src="${comment.user?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                    alt="Profile Picture"
                  />
                </a>
              </div>
              <!-- Content Box -->
              <div
                id="contentBoxComment"
                class="flex flex-col items-start w-full"
              >
                <div class="flex flex-row justify-start items-start w-full">
                  <!-- Profile Link -->
                  <div class="flex items-start">
                    <a
                      th:href="@{/profile/{id}(id=${comment.user.id})}"
                      class="flex items-start"
                    >
                      <span
                        style="font-size: 10px; line-height: 1"
                        class="font-semibold leading-[1]"
                        th:if="${comment.user?.username != null}"
                        th:text="${comment.user?.username}"
                      ></span>
                    </a>
                  </div>
                  <!-- Time Container -->
                  <div class="pl-2 flex items-end">
                    <span
                      style="font-size: 8px; line-height: 1"
                      class="font-thin leading-[1]"
                    >
                      6h
                    </span>
                  </div>
                </div>
                <div class="flex flex-row justify-start items-start">
                  <span
                    class="font-light truncate-multiline"
                    onclick="toggleTruncate(this)"
                    th:text="${comment.content}"
                  ></span>
                </div>
                <div
                  style="font-size: 8px; line-height: 1"
                  class="commentReplyBox w-full flex flex-col justify-center items-start pt-1 pr-2 text-slate-500 font-semibold"
                >
                  
                  <button
                    class="commentReplyButton"
                    th:attr="data-comment-id=${comment.id}"
                    onclick="triggerCommentId(this)"
                  >
                    <span class="leading-[1.2]">Reply</span>
                  </button>

                
                </div>

                <!-- REPLY BOX -->

                <div
                  id="replyBox"
                  class="flex-grow w-full bg-slate-100 overflow-y-auto"
                  th:value="${item.id}"
                >
                  <!-- Reply Template -->
                  <div
                    th:id="'reply-' + ${reply.id}"
                    class="pt-3 px-3"
                    th:each="reply : ${comment.replies}"
                  >
                    <div
                      class="w-full h-auto flex flex-row justify-start items-start text-sm"
                    >
                      <!-- Profile Picture -->
                      <div id="imageBoxComment" class="flex-shrink-0 w-10">
                        <a th:href="@{/profile/{id}(id=${reply.user.id})}">
                          <img
                            class="h-7 w-7 rounded-full bg-white"
                            th:src="${reply.user?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                            alt="Profile Picture"
                          />
                        </a>
                      </div>
                      <!-- Content Box -->
                      <div
                        id="contentBoxComment"
                        class="flex flex-col items-start w-full"
                      >
                        <div
                          class="flex flex-row justify-start items-start w-full"
                        >
                          <!-- Profile Link -->
                          <div class="flex items-start">
                            <a
                              th:href="@{/profile/{id}(id=${reply.user.id})}"
                              class="flex items-start"
                            >
                              <span
                                style="font-size: 10px; line-height: 1"
                                class="font-semibold leading-[1]"
                                th:if="${reply.user.username != null}"
                                th:text="${reply.user.username}"
                              ></span>
                            </a>
                          </div>
                          <!-- Time Container -->
                          <div class="pl-2 flex items-end">
                            <span
                              style="font-size: 8px; line-height: 1"
                              class="font-thin leading-[1]"
                            >
                              6h
                            </span>
                          </div>
                        </div>
                        <div class="flex flex-row justify-start items-start">
                          <span
                            class="font-light truncate-multiline"
                            onclick="toggleTruncate(this)"
                            th:text="${reply.content}"
                          ></span>
                        </div>
                        <div
                          style="font-size: 8px; line-height: 1"
                          class="replyReplyBox w-full flex flex-col justify-center items-start pt-1 pr-2 text-slate-500 font-semibold"
                        >
                          <button
                          class="commentReplyReplyButton"
                          th:attr="data-comment-id=${comment.id}, data-reply-username=${reply.user.username}"
                          onclick="triggerReplyId(this)"
                          >
                            <span class="leading-[1.2]">Reply</span>
                          </button>

                        </div>
                      </div>
                      <!-- Like Box -->
                      <div
                        th:if="${reply.id != null}"
                        th:id="'likeBox-' + ${reply.id}"
                        class="flex flex-col justify-start items-center"
                      >
                        <div class="flex flex-row justify-center items-center">
                          <form
                            th:if="${reply.id != null}"
                            th:action="@{/replies/{id}/like(id=${reply.id})}"
                            method="post"
                          >
                            <input
                              type="hidden"
                              name="replyId"
                              th:if="${reply.id != null}"
                              th:value="${reply.id}"
                            />
                            <input
                              type="hidden"
                              name="userId"
                              th:value="${user.id}"
                            />
                            <input
                              type="hidden"
                              name="liked"
                              th:value="${reply.isLiked}"
                            />
                            <button
                              type="submit"
                              class="likeButton"
                              th:if="${reply.user != null && reply.user.id != user.id}"
                            >
                              <span
                                style="font-size: 10px; line-height: 1"
                                class="font-medium text-xs"
                                th:if="${reply.isLiked}"
                              >
                                &#9829;
                              </span>
                              <span
                                style="font-size: 10px; line-height: 1"
                                class="font-medium text-xs"
                                th:if="${!reply.isLiked}"
                              >
                                &#9825;
                              </span>
                            </button>
                            <button
                              th:id="'like-button-' + ${reply.id}"
                              type="button"
                              class="likeButton"
                              th:if="${reply.user != null && reply.user.id == user.id}"
                              disabled
                            >
                              <span
                                style="font-size: 10px; line-height: 1"
                                class="font-medium text-xs"
                              >
                                &#9829;
                              </span>
                            </button>
                          </form>
                        </div>
                        <div class="flex flex-row justify-center items-center">
                          <p
                            th:if="${reply.id != null}"
                            th:id="'likeCount-' + ${reply.id}"
                            style="font-size: 10px; line-height: 1"
                            class="font-thin text-xs"
                            th:text="${reply.likeCount != null ? reply.likeCount : '0'}"
                          ></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- COMMENT LIKE BOX -->
              <div
                th:if="${comment.id != null}"
                th:id="'likeBox-' + ${comment.id}"
                class="flex flex-col justify-start items-center"
              >
                <div class="flex flex-row justify-center items-center">
                  <form
                    th:if="${comment.id != null}"
                    th:action="@{/comments/{id}/like(id=${comment.id})}"
                    method="post"
                  >
                    <input
                      type="hidden"
                      name="commentId"
                      th:if="${comment.id != null}"
                      th:value="${comment.id}"
                    />
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <input
                      type="hidden"
                      name="liked"
                      th:value="${comment.isLiked}"
                    />
                    <button
                      type="submit"
                      class="likeButton"
                      th:if="${comment.user != null && comment.user.id != user.id}"
                    >
                      <span
                        style="font-size: 10px; line-height: 1"
                        class="font-medium text-xs"
                        th:if="${comment.isLiked}"
                      >
                        &#9829;
                      </span>
                      <span
                        style="font-size: 10px; line-height: 1"
                        class="font-medium text-xs"
                        th:if="${!comment.isLiked}"
                      >
                        &#9825;
                      </span>
                    </button>
                    <button
                      th:id="'like-button-' + ${comment.id}"
                      type="button"
                      class="likeButton"
                      th:if="${comment.user != null && comment.user.id == user.id}"
                      disabled
                    >
                      <span
                        style="font-size: 10px; line-height: 1"
                        class="font-medium text-xs"
                      >
                        &#9829;
                      </span>
                    </button>
                  </form>
                </div>
                <div class="flex flex-row justify-center items-center">
                  <p
                    th:if="${comment.id != null}"
                    th:id="'likeCount-' + ${comment.id}"
                    style="font-size: 10px; line-height: 1"
                    class="font-thin text-xs"
                    th:text="${comment.likeCount != null ? comment.likeCount : '0'}"
                  ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>

      <nav id="commentActivity" class="w-full">
        <div id="commentInputContainer" class="w-full">
          <form
            th:action="@{/items/{itemId}/comments (itemId=${item.id})}"
            method="POST"
            class="flex flex-row w-full items-center justify-center px-2"
          >
            <a href="/profile" class="w-10">
              <img
                class="round-image"
                th:src="${user?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                alt="Profile Picture"
              />
            </a>
            <input
              type="hidden"
              name="itemId"
              th:value="${item.id}"
            />
            <input
              id="commentContentInput"
              type="text"
              name="content"
              placeholder="Leave a comment..."
              class="h-8 mx-2 px-2"
            />
            <button
              id="commentButton"
              type="submit"
              class="text-sm bg-blue-500 text-white font-semibold text-center h-full w-7 ml-2"
            >
              <span>C</span>
            </button>
          </form>
        </div>
      </>

      <div id="commentReplyActivity" class="hidden">
        <div id="commentInputContainer" class="w-full">
          <form
            id="commentReplyForm"
            method="POST"
            th:action="@{/items/{itemId}/replies (itemId=${item.id})}"
            class="flex flex-row w-full items-center justify-center px-2"
          >
            <a href="/profile" class="w-10">
              <img
                class="round-image"
                th:src="${user?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                alt="Profile Picture"
              />
            </a>
            <input
              id="replyCommentIdInput"
              type="hidden"
              name="commentId"
              value=""
            />

            <input
              id="replyContentInput"
              type="text"
              name="content"
              placeholder="Leave a reply..."
              value=""
              class="h-8 mx-2 px-2"
            />

            <input
              type="hidden"
              name="_csrf"
              th:value="${_csrf?.token}"
            />

            <input
              type="hidden"
              name="currentUser"
              th:value="${user.id}"
            />

            <button
              id="commentReplyButton"
              type="submit"
              class="text-sm bg-red-500 text-white font-semibold text-center h-full w-7 ml-2"
            >
              <span>R</span>
            </button>
          </form>
        </div>
      </div>
    </footer>
  </body>
</html>