<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="/js/fadeAnimations.js" defer></script>
    <script src="/js/toggleTruncate.js" defer></script>
    <script src="/js/toggleOverlay.js" defer></script>
    <script src="/js/windowOpen.js" defer></script>
    <script src="/js/toggleReply.js" defer></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a id="backButton" th:href="@{|/collection/${item.collection.id}|}">
              <span>&#8592;</span>
            </a>
          </li>
          <li>
            <div th:if="${item.isOwner != null && item.isOwner}">
              <a
                class="bg-blue-500 hover:bg-blue-700 text-white text-xs px-1 py-0.5 rounded"
                id="redirectUpdateItemDetails"
                th:href="@{/update-item/{itemId}(itemId=${item?.id})}"
              >
                <span class="text-lg">&#9776;</span>
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </header>


    <!-- ITEM CONTENT -->
    <main th:id="'collection-' + ${collection.id}">
      <div class="container">
        <div class="box">
          <nav>
            <ul>
              <li class="pr-2">
                <a
                  th:href="@{/collection/{collectionId}(collectionId=${collection?.id})}"
                >
                  <img
                    class="round-image"
                    th:src="${collection?.imageUrl ?: '/item_image.png'}"
                    alt="Profile Picture"
                  />
                </a>
              </li>
              <li>
                <a
                  th:href="@{/collection/{collectionId}(collectionId=${collection?.id})}"
                >
                <span
                  class="text-sm font-semibold text-black"
                  th:if="${collection?.title!= null}"
                  th:text="${collection?.title}"
                ></span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="square-index">
            <!-- ITEM PICTURE -->
            <img
              class="square-index"
              id="previewImage"
              th:src="${item != null && item.imageUrl != null ? item.imageUrl : '/images/item_image.png'}"
              alt="Item Image"
            />
            <!-- Overlay -->
            <div
              id="itemOverlay"
              class="overlay absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 text-white text-sm p-2 hidden"
            >
              <div class="flex flex-col justify-start items-between">
                <div>
                  <span class="font-semibold" th:text="${item?.title}"></span>
                </div>
                <div>
                  <span
                    class="text-xs font-thin"
                    th:text="${item?.description}"
                  ></span>
                </div>
              </div>
              <div>
                <button
                  class="absolute bottom-2 left-2 bg-blue-500 hover:bg-blue-700 text-xs px-2 py-1 rounded"
                  id="openLinkButton"
                  th:href="${item?.itemLink}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Item Link
                </button>
              </div>
            </div>
            <!-- Toggle Button -->
            <button
              id="toggleButtonShowInfo"
              class="toggle-overlay absolute bottom-2 right-2 bg-white text-black text-xs px-2 py-1 rounded z-20"
            >
              Show Info
            </button>
            <button
              id="toggleButtonHideInfo"
              class="toggle-overlay absolute bottom-2 right-2 bg-white text-black text-xs px-2 py-1 rounded z-20 hidden"
            >
              Hide Info
            </button>
          </div>
          <div class="caption-container">
            <div
              class="like-comment-container"
            >
              <ul>
                <li>
                  <div class="element">
                    <form
                      th:if="${item?.id != null}"
                      th:action="@{/items/{id}/like(id=${item?.id})}"
                      method="post"
                    >
                      <input
                        type="hidden"
                        name="itemId"
                        th:value="${item.id}"
                      />
                      <input
                        type="hidden"
                        name="userId"
                        th:value="${user.id}"
                      />
                      <input
                        type="hidden"
                        name="liked"
                        th:value="${item.isLiked}"
                      />
                      <button
                        type="submit"
                        class="likeButton"
                        th:if="${item.userId != user.id}"
                      >
                        <span
                          class="pr-2 font-medium"
                          th:if="${item.isLiked}"
                        >
                          &#9829;
                        </span>
                        <span
                          class="pr-2 font-medium"
                          th:if="${!item.isLiked}"
                        >
                          &#9825;
                        </span>
                      </button>
                      <button
                        type="button"
                        class="likeButton"
                        th:if="${item.userId == user.id}"
                        disabled
                      >
                        <span class="pr-2 font-medium">&#9829;</span>
                      </button>
                    </form>
                  </div>
                  <div class="element">
                    <p class="font-thin" th:text="${item.likeCount}"></p>
                  </div>
                </li>
                <li>
                  <a th:href="@{/item/{id}/comments(id=${item?.id})}">
                    <span class="pr-2 font-medium">comment</span>
                  </a>
                  <span
                    class="font-thin"
                    th:text="${item.commentCount}"
                  ></span>
                </li>
              </ul>
            </div>
            <div class="caption">
              <!-- CAPTION -->
              <p
                id="toggle_truncate"
                class="truncate-multiline leading-[1rem]"
                onclick="toggleTruncate(this)"
              >
                <a th:href="@{/profile/{id}(id=${userProfile?.id})}">
                  <span
                    class="font-semibold"
                    th:if="${userProfile?.username != null}"
                    th:text="${userProfile?.username}"
                  ></span>
                </a>
                <span
                  th:if="${item?.caption != null}"
                  th:text="${item?.caption}"
                ></span>
              </p>
            </div>
            <div class="small-date">
            <!-- MONTH YEAR -->
              <span
                style="font-size: 9px"
                class="font-extralight"
                th:if="${item?.updatedAt != null}"
                th:text="${#dates.format(item?.updatedAt, 'MMMM-YYYY')}"
              ></span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <nav>
        <div th:if="${item.isOwner != null && item.isOwner}" class="w-full">
          <!-- Footer for owner -->
          <ul id="footerNavOwner">
            <li>
              <div
                id="homeButton"
                class="icon"
              >
                <a class="text-2xl font-bold" href="/index">&#8962;</a>
              </div>
            </li>
            <li>
              <div class="icon">
                <a class="text-2xl font-bold" href="/popular">&#10066;</a>
              </div>
            </li>
            <li>
              <div class="icon"></div>
            </li>
            <li>
              <a href="/profile">
                <img
                  class="round-image"
                  th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}"
                  alt="Profile Picture"
                />
              </a>
            </li>
          </ul>
        </div>

        <div th:if="${item.isOwner != null && !item.isOwner}" class="w-full">
          <!-- Footer for non-owner -->
          <ul id="footerNavUser">
            <li>
              <div class="icon">
                <a class="text-2xl font-bold" href="/index">&#8962;</a>
              </div>
            </li>
            <li>
              <a href="/profile">
                <img
                  class="round-image"
                  th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}"
                  alt="Profile Picture"
                />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </body>
</html>
