<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="/js/fadeAnimations.js" defer></script>
    <script src="/js/toggleTruncate.js" defer></script>
    <script src="/js/toggleOverlay.js" defer></script>
    <script src="/js/windowOpen.js" defer></script>

  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="flex justify-between w-full">
          <li class="flex items-center">
            <a
              id="redirectCollection"
              th:href="@{/collection/{collectionId}(collectionId=${collection?.id})}">
              <span>&#8592;</span>
            </a>
          </li>
          <li class="flex items-center">
            <a
              class="bg-blue-500 hover:bg-blue-700 text-white text-xs px-1 py-0.5 rounded"
              id="redirectUpdateItemDetails"
              href="./update-item-details"
              ><span class="text-lg">&#9776;</span></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div class="profileContainerScroll bg-slate-200">
      <div class="h-auto w-full border-b-2 bg-slate-100 shadow-sm">
        <div class="collectionNavbar shadow-sm">
          <div class="flex justify-between items-center w-full">
            <ul class="flex justify-start items-center w-full">
              <li class="pr-2">
                <a th:href="@{/collection/{collectionId}(collectionId=${collection?.id})}">
                  <img
                    class="h-7 w-7 rounded-full bg-white"
                    th:src="${collection?.imageUrl ?: '/item_image.png'}"
                    alt="Profile Picture"
                  />
                </a>
              </li>
              <li>
                <a th:href="@{/collection/{collectionId}(collectionId=${collection?.id})}">
                  <span
                    class="text-sm font-semibold"
                    th:if="${collection?.title!= null}"
                    th:text="${collection?.title}">
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ITEM CONTENT -->
        <div class=" flex flex-col justify-center items-center">
          <div>

            <div class="image-container relative">
              <!-- Image -->
              <a>
                <img
                  class="aspect-square w-full bg-white"
                  id="previewImage"
                  th:src="${item != null && item.imageUrl != null ? item.imageUrl : '/images/item_image.png'}"
                  alt="Item Image"
                />
              </a>
            
              <!-- Overlay -->
              <div id="itemOverlay" class="overlay absolute bottom-0 left-0 w-full h-full bg-black bg-opacity-70 text-white text-sm p-2 hidden">
                <div class="flex flex-col justify-start items-between">
                  <div>
                    <span class="font-semibold" th:text="${item?.title}"></span>
                  </div>
                  <div>
                    <span class="text-xs font-thin " th:text="${item?.description}"></span>
                  </div>
                </div>
                <div>
                  <button class="absolute bottom-2 left-2 bg-blue-500 hover:bg-blue-700 text-xs px-2 py-1 rounded"
                  id="openLinkButton"
                  th:href="${item?.itemLink}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Item Link</button>
                </div>
              </div>
            
              <!-- Toggle Button -->
              <button
                id="toggleButtonShowInfo"
                class="toggle-overlay absolute bottom-2 right-2 bg-white text-black text-xs px-2 py-1 rounded z-20"
              >Show Info
              </button>
              <button
                id="toggleButtonHideInfo"
                class="toggle-overlay absolute bottom-2 right-2 bg-white text-black text-xs px-2 py-1 rounded z-20 hidden"
              >Hide Info
              </button>
            </div>

          
        <div class="w-full px-2">
          <div class="flex flex-row w-full h-auto py-1 text-sm">
            <ul class="flex flex-row justify-start items-center pr-2">
              <li class="flex flex-row justify-start items-center pr-2">
                <a>
                  <span class="pr-2 font-medium">&#9825;</span>
                </a>
                <p class="font-thin">
                  0
                </p>
              </li>
              <li class="flex flex-row justify-start items-center pr-2">
                <a>
                  <span class="pr-2 font-medium">comment</span>
                </a>
                <p class="font-thin">
                  0
                </p>
              </li>
            </ul>
          </div>
          <div class="w-full h-auto flex justify-start items-center text-sm">
            <!-- CAPTION -->
            <p id="toggle_truncate" class="truncate leading-[1rem]">
              <a href="/profile">
              <span
                class="font-semibold"
                th:if="${user?.username != null}"
                th:text="${user?.username}">
              </span>
            </a>
            <span
                class="font-light"
                onclick="toggleTruncate()"
                th:if="${item?.caption != null}"
                th:text="${item?.caption}">
            </span>
            </p>
          </div>
          <div class="w-full flex justify-between items-center py-1">
            <!-- MONTH YEAR -->
            <div class="w-full flex flex-col justify-center items-start pt-1">
              <span
                style="font-size: 9px;" class="font-extralight"
                th:if="${item?.updatedAt != null}"
                th:text="${#dates.format(item?.updatedAt, 'MMMM-YYYY')}">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
