<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script th:src="@{/js/fadeAnimations.js}" defer></script>
  </head>
  <body>
    <main class="top-0 bottom-0 bg-blue-500">
      <div class="flex flex-col items-center justify-center h-screen mb-4">
        <div
          class="flex flex-col items-center justify-center px-6 py-4 rounded-lg"
        >
          <div class="mb-4 mt-2">
            <img
              class="h-8"
              src="/images/Shelved_Logo_White.png"
              alt="Shelved Logo"
            />
          </div>

          <div class="errorBox">
            <!-- SUCCESS MESSAGE -->
            <div
              id="successMessageDiv"
              th:if="${message}"
              th:text="${message}"
              class="success"
            ></div>
            <!-- ERROR MESSAGE -->
            <div
              id="errorMessageDiv"
              th:if="${error}"
              th:text="${error}"
              class="failure"
            ></div>
          </div>

          <form th:action="@{/login}" method="post">
            <div class="mt-2 mb-2">
              <label class="label text-blue-300" for="Username">Username:</label>
              <input
                label="Username"
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                required
              />
            </div>

            <div class="mb-2">
              <label class="label text-blue-300" for="password">Password:</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>

            <!-- Submit Button -->
            <div class="flex justify-center items-center w-full p-1 mt-4">
              <button
                class="button bg-slate-800 hover:bg-slate-950"
                type="submit"
              >
                Login
              </button>
            </div>
          </form>
          <div class="p-1">
            <a
              class="small-button bg-blue-800 hover:bg-blue-950"
              href="/signup"
            >
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
