<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="/js/profileUpdates.js" defer></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="flex justify-between w-full">
          <li>
            <a href="/index">
              <span>&#8592;</span>
            </a>
          </li>
          <li>
            <a
            href="#"
            class=" bg-blue-500 hover:bg-blue-700 text-white text-xs px-1 py-0.5 rounded"
            >Edit Profile</a
            >
          </li>
        </ul>
      </nav>
    </header>
      <div class="profileContainer">
        <div class="h-auto w-full border-b-2 
        border-slate-300 bg-slate-200 shadow-sm">

          <div class="flex flex-col justify-center items-center p-2">
            <!-- profile image -->
            <img
            class="p-1 headerImage"
            th:src="${user.profilePictureUrl}"
          alt="profile"
          />
          <!-- profile username -->
          <span class="text-md" th:text="${user.username}"></span>
          <!-- update button -->
          
          <a
          href="#"
          class=" bg-blue-500 hover:bg-blue-700 text-white text-xs px-1 py-0.5 rounded"
          >Share Profile</a
          >
        </div>
        <div class="flex flex-col justify-start items-start p-2 w-full">
          <div class="flex flex-col justify-start items-start p-2">
            <h2 class="text-sm font-bold" th:text="${user?.username ?: 'Default Username'}"></h2>
            <h2 class="text-sm font-thin" th:text="${user?.company ?: 'Default Company'}"></h2>
            <p class="text-sm" th:text="${user?.biography ?: 'Default biography text goes here.'}"></p>
            <p class="text-sm font-semibold" th:text="${user?.website ?: 'defaultwebsite.com'}"></p>
          </div>
        </div>
      </div>
      </div>

      <div>
        <!-- User Collections -->
      </div>
    </div>
  </body>
</html>
