<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script th:src="@{/js/fadeAnimations.js}" defer></script>

  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="flex justify-center items-center w-full">
          <li>
            <a href="/index">
              <img class="h-5" src="/images/Shelved_Logo_White.png" alt="Shelved Logo" />
            </a>
          </li>
        </ul>
      </nav>
    </header> 
    <div class="container bg-slate-200">
      <div class="card">
        <div class="headerBox">
          <h1 class="formHeader">Sign Up</h1>
        </div>

        <div class="errorBox">
          <!-- SUCCESS MESSAGE -->
          <div id="successMessageDiv" th:if="${message}" th:text="${message}" class="success"></div>
          <!-- ERROR MESSAGE -->
          <div id="errorMessageDiv" th:if="${error}" th:text="${error}" class="failure"></div>
        </div>

        <form class="formContainer" th:action="@{/signup}" method="post">
          <input type="hidden" name="_csrf" value="${_csrf.token}" />
          <div class="labelInputBox">
          <label class="label" for="username">Username:</label>
          <input
            class="input"
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
          </div>

          <div class="labelInputBox">
          <label class="label" for="email">Email:</label>
          <input
            class="input"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
          </div>

          <div class="labelInputBox">
          <label class="label" for="firstName">First Name:</label>
          <input
            class="input"
            type="text"
            id="firstName"
            name="firstName"
            placeholder="First Name"
          />
          </div>

          <div class="labelInputBox">
          <label class="label" for="lastName">Last Name:</label>
          <input
            class="input"
            type="text"
            id="lastName"
            name="lastName"
            placeholder="Last Name"
          />
          </div>

          <div class="labelInputBox">
          <label class="label" for="password">Password:</label>
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          </div>

          <div class="labelInputBox">
          <label class="label" for="confirmPassword">Confirm Password:</label>
          <input
            class="input"
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm Password"
            required
          />
          </div>

          <button class="button" type="submit">Sign Up</button>
          <a class="link" href="/login">Login</a>
        </form>

      </div>
    </div>
  </body>
</html>
