<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script th:src="@{/js/fadeAnimations.js}" defer></script>
  </head>
  <body class="bg-blue-600">
    <main class="top-0 bottom-0 bg-blue-500">

      
      <!-- ERROR AND SUCCESS HANDLING -->
      <div class="errorSuccessHandlingBox hidden">
        <div
          id="successMessageDiv"
          class="success"
          th:if="${message}"
          th:text="${message}">
        </div>
        <div
          id="errorMessageDiv"
          class="failure"
          th:if="${error}"
          th:text="${error}">
        </div>
      </div>


      <div class="flex flex-col items-center justify-center h-screen mb-4">
        <div
          class="flex flex-col items-center justify-center px-6 py-4 rounded-lg"
        >
          <div class="mb-4 mt-2">
            <img
              class="h-8"
              src="/images/Shelved_Logo_White.png"
              alt="Shelved Logo"
            />
          </div>

          <form th:action="@{/signup}" method="post">
            <input type="hidden" name="_csrf" value="${_csrf.token}" />

            <div class="mt-2 mb-2">
              <label class="label text-blue-300" for="username">Username:</label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                required
              />
            </div>
            <div class="mb-2">
              <label class="label text-blue-300" for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="mb-2">
              <label class="label text-blue-300" for="firstName">First Name:</label>
              <input
                type="text"
                id="firstName"
                name="firstName"
                placeholder="First Name"
              />
            </div>
            <div class="mb-2">
              <label class="label text-blue-300" for="lastName">Last Name:</label>
              <input
                type="text"
                id="lastName"
                name="lastName"
                placeholder="Last Name"
              />
            </div>
            <div class="mb-2">
              <label class="label text-blue-300" for="password">Password:</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="mb-2">
              <label class="label text-blue-300" for="confirmPassword">
                Confirm Password:
              </label>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm Password"
                required
              />

            <!-- Submit Button -->
            <div class="flex justify-center items-center w-full p-1 mt-4">
              <button
                class="button bg-slate-800 hover:bg-slate-950"
                type="submit"
              >
                Sign Up
              </button>
            </div>
          </form>
          
          <div class="flex justify-center items-center p-1">
            <a
              class="small-button bg-blue-800 hover:bg-blue-950"
              href="/login"
            >
              Login
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>


