



<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="flex flex-col min-h-screen h-full w-full bg-orange-700">
    <header class="h-12 w-full bg-yellow-500 fixed top-0">
    </header>
    <main class="flex-grow fixed top-12 bottom-12 w-full bg-red-500 overflow-y-auto">
    </main>
    <footer class="h-12 w-full bg-blue-500 fixed bottom-0">
    </footer>
  </body>
</html>