<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>
    <link rel="stylesheet" href="/css/output.css" />

    <script th:src="@{/js/previewFile.js}" defer></script>

  </head>
  <body>
      <header>
        <nav>
          <ul>
            <li>
              <a id="backButton" th:href="@{/collection/{id}(id=${collection?.id ?: 'default'})}">
                <span>&#8592;</span>
              </a>
            </li>
            <li>
              <a href="/profile">
                <img
                  class="h-7 w-7 rounded-full bg-white"
                  th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}"
                  alt="Profile Picture"
                />
              </a>
            </li>
          </ul>
        </nav>
      </header>

    <main class="bottom-0 overflow-y-auto">
      <div class="container">
        <nav>
          <span class="w-full text-center text-sm font-semibold text-slate-600">
            Update Collection
          </span>
        </nav>

        <div class="box pb-3">
          <div class="square">
            <img
              class="aspect-square w-full"
              id="previewImage"
              th:src="${collection?.imageUrl != null ? collection.imageUrl : '/images/collection_image.png'}"
              alt="Collection Image"
            />
          </div>
          <a href="#" id="triggerUpload" class="mt-2">
            <span class="text-sm font-semibold text-blue-500">
              Update Collection Cover
            </span>
          </a>
        <!-- ERROR / SUCCESS -->
        <div class="errorBox">
          <!-- SUCCESS MESSAGE -->
          <div
            id="successMessageDiv"
            th:if="${message}"
            th:text="${message}"
            style="color: green"
          ></div>
          <!-- ERROR MESSAGE -->
          <div
            id="errorMessageDiv"
            th:if="${error}"
            th:text="${error}"
            style="color: red"
          ></div>
        </div>

        <form 
          class="flex flex-col w-full items-center justify-center px-4 mt-4"
          th:action="@{/update-collection/{id}(id=${collection.id})}" 
          method="post" 
          enctype="multipart/form-data">

              <input type="hidden" name="_csrf" th:value="${_csrf?.token}" />
              <!-- File Upload Field -->

              <input
                type="file"
                id="hiddenFileInput"
                name="collectionImage"
                style="display: none"
                accept="image/*"
              />

              <!-- Title Field -->
              <div class="flex flex-col w-full h-auto justify-center items-between">
                <div class="labelInputBox w-full">
                  <label class="label" for="title">Title:</label>
                  <input
                    class="input w-full"
                    type="text"
                    id="collectionTitle"
                    name="title"
                    th:value="${collection?.title}"
                    placeholder="Title"
                  />
                </div>
              </div>

              <!-- Caption Field -->
              <div class="flex flex-col w-full h-auto justify-center items-between">
                <div class="labelInputBox w-full">
                  <label class="label" for="caption">Caption:</label>
                  <input
                    class="input w-full"
                    type="text"
                    id="caption"
                    name="caption"
                    th:value="${collection?.caption}"
                    placeholder="Caption"
                  />
                </div>
              </div>

              <!-- Submit Button -->
              <div class="flex flex-row justify-center items-center mt-4">
                <button class="button bg-blue-600 hover:bg-blue-800" type="submit">
                  Update Collection
                </button>
              </div>
            </form>
          </div>
        </div>

        <div
          class="flex flex-col w-full items-center justify-center pt-16 bg-[#f8fafc]"
        >
          <form th:action="@{/delete-collection/{id}(id=${collection.id})}" method="post">

            <input type="hidden" name="_csrf" th:value="${_csrf?.token}" />
            <div>
              <button
                class="small-button bg-red-600 hover:bg-red-800"
                type="submit"
                onclick="return confirm('Are you sure you want to delete this collection? This action cannot be undone.');"
              >
                Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>

