<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <script th:src="@{/js/deleteAccount.js}" defer></script>
    <script th:src="@{/js/toggleProfilePhoto.js}" defer></script>
    <script th:src="@{/js/fadeAnimations.js}" defer></script>
    <script th:src="@{/js/updateChanges.js}" defer></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="flex justify-between w-full">
          <li>
            <a href="/profile">
              <span>&#8592;</span>
            </a>
          </li>
          <li>
            <button
              id="saveChangesButton"
              type="submit"
              class=" bg-blue-500 hover:bg-blue-700 text-white text-xs px-1 py-0.5 rounded"
              >Save Changes
            </button>
          </li>
        </ul>
      </nav>
    </header>
      <div class="profileContainer">
        <div class="h-auto w-full">
        <div class="flex flex-col justify-center items-center mt-4 p-2">
          <!-- profile image -->
          <a>
            <img class="h-20 w-20 rounded-full" th:src="${user?.profilePictureUrl ?: '/images/default-profile-photo.png'}" alt="Profile Picture" />
          </a>
          <!-- update profile picture -->
          <a id="updateProfilePhotoButton" class="mt-2">
            <span class="text-sm font-semibold text-blue-500">Update Profile Picture</span>
          </a>

          <div class="errorBox">  
            <!-- SUCCESS MESSAGE -->
            <div id="successMessageDiv" th:if="${message}" th:text="${message}" style="color: green;"></div>
            <!-- ERROR MESSAGE -->
            <div id="errorMessageDiv" th:if="${error}" th:text="${error}" style="color: red;"></div>
          </div>

        </div>
        <div class="flex-col justify-center items-center">
            <!-- Update Profile Picture -->
          <div id="updateProfilePhotoForm" class="hidden w-full bg-white">
            <div id="updateProfilePictureForm">
              <form th:action="@{/update_profile_picture}" method="post" enctype="multipart/form-data">
                <div class="labelInputBox">
                <label class="label" for="profilePicture">Profile Picture:</label>
                <input class="file-input" type="file" id="profilePicture" name="profilePicture" required>
                </div>
                <div class="cancelUpdateBox">
                  <button class="button bg-slate-600" id="cancelProfilePhotoUpdateButton" type="button">Cancel</button>  
                  <button class="button" id="updateProfilePictureSubmitButton" type="submit">Update</button>  
                </div>
              </form>
            </div>
          </div>
          <form th:action="@{/update_profile}" method="post" id="updateProfileForm">  
              <!-- Username -->
            <!-- <div class="grid grid-cols-5 w-full bg-white">
              <span class=" text-slate-400 flex items-center col-span-1 text-xs p-2 border-y border-r border-slate-200">Username</span>
              <input id="usernameInput" class="col-span-4 text-sm p-2 border-y border-slate-200" th:value="${user?.username ?: ''}" placeholder="Username"></input>
            </div> -->
            <!-- Name -->
            <div class="grid grid-cols-5 w-full bg-white">
              <span class=" text-slate-400 flex items-center col-span-1 text-xs p-2 border-y border-r border-slate-200">Name</span>
              <input id="firstNameInput" class="col-span-2 text-sm p-2 border-y border-slate-200" name="firstName" th:value="${user?.firstName ?: ''}" placeholder="First Name"></input>
              <input id="lastNameInput" class="col-span-2 text-sm p-2 border-y border-slate-200" name="lastName" th:value="${user?.lastName ?: ''}" placeholder="Last Name"></input>
            </div>
              <!-- Location -->
            <div class="grid grid-cols-5 w-full bg-white">
              <span class=" text-slate-400 flex items-center col-span-1 text-xs p-2 border-y border-r border-slate-200">Location</span>
              <input id="locationInput" class="col-span-4 text-sm p-2 border-y border-slate-200" name="location" th:value="${user?.location ?: ''}" placeholder="Location"></input>
            </div>
            <!-- Email -->
            <div class="grid grid-cols-5 w-full bg-white">
              <span class=" text-slate-400 flex items-center col-span-1 text-xs p-2 border-y border-r border-slate-200">Email</span>
              <input id="emailInput"class="col-span-4 text-sm p-2 border-y border-slate-200" name="email" th:value="${user?.email ?: ''}" placeholder="Email"></input>
            </div>
            <!-- Website -->
            <div class="grid grid-cols-5 w-full bg-white">
              <span class=" text-slate-400 flex items-center col-span-1 text-xs p-2 border-y border-r border-slate-200">Website</span>
              <input id="websiteInput" class="col-span-4 text-sm p-2 border-y border-slate-200" name="website" th:value="${user?.website ?: ''}" placeholder="Website"></input>
            </div>
              <!-- Biography -->
            <div class="grid grid-cols-5 w-full bg-white">
              <span class=" text-slate-400 flex items-center col-span-1 text-xs p-2 border-y border-r border-slate-200">Biography</span>
              <textarea id="biographyInput" class="col-span-4 text-sm p-2 border-y border-slate-200" name="biography" th:text="${user?.biography ?: ''}" placeholder="Biography" maxlength="250"></textarea>
            </div>
          </div>
        </div>
        <button type="submit" id="hiddenSubmitButton" class="hidden"></button>
      </form>


      <div class="h-full w-full flex flex-col items-center justify-end">
        <button class="deleteButton bg-slate-400 hover:bg-slate-400" id="deleteAccountButton">Delete Account</button>
        <form class="hidden" id="deleteAccountForm" th:action="@{/delete_user}" method="post" >
          <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
          <input type="hidden" name="username" th:value="${user != null ? user.username : ''}" />
          
          <label id="confirmDeleteLabel" for="confirmDelete" class="text-sm font-bold text-red-600">
            Confirm Account Delete
          </label>
          <input
            type="text"
            id="confirmDelete"
            name="confirmDelete"
            placeholder="DELETE"
            required

            class="input focus:border-red-500 focus:ring-red-500 sm:text-sm invalid:border-red-500 invalid:ring-red-500"
          />
          <div class="flex flex-row justify-center items-center">
            <button
            id="cancelDeleteButton"
            type="button"
            class="cancelButton"
          >Cancel</button>

          <button
          type="submit" class="deleteButton focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
            Delete
          </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
