<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/signup.js" defer></script>
  </head>
  <body>
      <section>
        <div>
          <h2>User Details</h2>
          <h5>Username: <span th:text="${user.username}"></span></h5>
          <h5>Email: <span th:text="${user.email}"></span></h5>
        </div>
      </section>

      <section>
        <form action="/req/login" method="put">
          <h1>Change Usernname</h1>

            <div class="dialog-row">
                <label
                    th:if="${param.error}"
                    th:text="${session['error']}"
                    style="text-align: center; color: red"
                ></label>
            </div>

            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input name="username" id="username" type="text" required />
                <label for="username">New Username</label>
            </div>

            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input name="username" id="username" type="text" required />
                <label for="username">Confirm New Username</label>
            </div>

            <button type="submit">Log in</button>

          </form>
            <form action="/req/login" method="put">
              <h1>Change Email</h1>

              <div class="dialog-row">
                  <label
                      th:if="${param.error}"
                      th:text="${session['error']}"
                      style="text-align: center; color: red"
                  ></label>
              </div>

              <div>
                <ion-icon name="email-outline"></ion-icon>
                <input name="username" id="username" type="text" required />
                <label for="username">New Email</label>
              </div>

              <div>
                <ion-icon name="email-outline"></ion-icon>
                <input name="username" id="username" type="text" required />
                <label for="username">Confirm New Email</label>
              </div>

              <button type="submit">Log in</button>

          </form>
          <form action="/req/login" method="put">
            <h1>Change Password</h1>

            <div class="dialog-row">
                <label
                    th:if="${param.error}"
                    th:text="${session['error']}"
                    style="text-align: center; color: red"
                ></label>
            </div>

            <div class="inputbox">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <input name="password" type="password" id="password" required />
              <label for="password">New Password</label>
            </div>

            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="password" type="password" id="password" required />
                <label for="password">Confirm New Password</label>
            </div>

            <button type="submit">Log in</button>
        </form>
      </section>
    </body>
  </body>
</html>
