<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/output.css" />

    <script src="/js/fadeAnimations.js" defer></script>

  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="flex justify-between w-full">
          <li class="flex items-center">
            <a id="backButton" href="/index">
              <span>&#8592;</span>
            </a>
          </li>
          <li class="flex items-center">
            <h2
              th:text="${userProfile?.username != null ? userProfile.username : 'User Profile'}"
            ></h2>
          </li>
          <li class="flex items-center"></li>
        </ul>
      </nav>
    </header>
    <main class="overflow-auto">
      <div
        class="h-auto w-full border-b-2 border-slate-300 bg-slate-200 shadow-sm pt-3"
      >
        <!-- PROFILE CONTENT -->
        <div class="flex flex-col justify-start items-start w-full px-2">
          <!-- PROFILE INFO HEADER -->
          <div class="grid grid-cols-4 gap-4 w-full">
            <!-- Profile Picture -->
            <div class="flex justify-center items-center">
              <img
                class="w-16 h-16 rounded-full bg-white"
                th:src="${userProfile?.profilePictureUrl ?: '/images/default-profile-photo.png'}"
                alt="Profile Picture"
              />
            </div>
            <!-- Collections -->
            <div class="flex flex-col justify-center items-center">
              <h2
                class="text-sm font-bold"
                th:text="${collectionCount ?: '0'}"
              ></h2>
              <p class="text-xs">collections</p>
            </div>

            <!-- Followers -->
            <div class="flex flex-col justify-center items-center">
              <a
                th:href="@{/profile/{id}/followers(id=${userProfile?.id})}"
                class="text-sm font-bold"
                th:text="${followersCount ?: '0'}"
              ></a>
              <p class="text-xs">followers</p>
            </div>

            <!-- Following -->
            <div class="flex flex-col justify-center items-center">
              <a
                th:href="@{/profile/{id}/following(id=${userProfile?.id})}"
                class="text-sm font-bold"
                th:text="${followingCount ?: '0'}"
              ></a>
              <p class="text-xs">following</p>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-start items-start p-2">
          <!-- Username -->
          <div>
            <p
              class="text-sm font-bold"
              th:if="${userProfile?.username != null}"
              th:text="${userProfile?.username}"
            ></p>
          </div>

          <!-- Location -->
          <div>
            <!-- Display Location if it exists -->
            <p
              class="text-xs font-normal"
              th:if="${userProfile?.location != null}"
              th:text="${userProfile?.location}"
            ></p>
          </div>

          <!-- Website -->
          <div>
            <!-- Display Website if it exists -->
            <p
              class="text-xs font-normal italic text-blue-500"
              th:if="${userProfile?.website != null}"
              th:text="${userProfile?.website}"
            ></p>
          </div>

          <!-- Biography -->
          <div>
            <!-- Display Biography if it exists -->
            <p
              class="text-xs font-normal"
              th:if="${userProfile?.biography != null}"
              th:text="${userProfile?.biography}"
            ></p>
          </div>
        </div>

        <!-- LOWER PROFILE BUTTONS -->
        <div class="flex justify-center items-center w-full px-2 pb-1">
          <div th:if="${!isFollowing}">
            <form
              th:action="@{/follow/{id}(id=${userProfile?.id})}"
              class="px-5 mr-2"
              method="post"
            >
              <button class="profile-button bg-slate-500 hover:bg-slate-700 w-40" type="submit">Follow</button>
            </form>
          </div>

          <div th:if="${isFollowing}">
            <form
              th:action="@{/unfollow/{id}(id=${userProfile?.id})}"
              class="px-5 mr-2"
              method="post"
            >
              <button class="profile-button bg-blue-500 hover:bg-blue-700 w-40" type="submit">Following</button>
            </form>
          </div>
          <a
            class="profile-button bg-slate-500 hover:bg-slate-700 w-40 px-5 ml-2"
            id="redirectShareProfile"
            href="#"
          >
            Message
          </a>
        </div>
      </div>
      <div class="w-full min-h-fit overflow-y-auto">
        <div class="grid">
          <div
            th:each="row : ${partitionedCollections}"
            class="grid grid-cols-3 border-0"
          >
            <div
              th:each="collection : ${row}"
              class="flex flex-col items-center"
            >
              <a th:href="@{/collection/{id}(id=${collection.id})}">
                <img
                  th:src="${#strings.defaultString(collection?.getImageUrl(), '/images/default-image.png')}"
                  alt="Collection Image"
                  class="aspect-square w-full h-auto object-cover"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <nav>
          <ul>
            <li>
              <div id="homeButton" class="icon">
                <a class="icon-style" href="/index">&#8962;</a>
              </div>
            </li>
            <li>
              <div class="icon">
                <a class="icon-style" href="/popular">&#10066;</a>
              </div>
            </li>
            <li></li>
            <li>
              <a href="/profile">
                <img
                  class="round-image"
                  th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}"
                  alt="Profile Picture"
                />
              </a>
            </li>
          </ul>
        </nav>
    </footer>
  </body>
</html>
